<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name = "keywords" content = "muzica, instrumente, sunet, audio, profesionist, chitara, tobe, bass, bete de tobe, chitara electrica, chitara clasica, chitara acustica, saxofon, clarinet, vioara, melodie, cursuri, amplificator, sistem audio, boxe, casti">
        <meta name = "description" content = "Magazin de instrumente muzicale">
        <meta name = "author" content = "Radu Mihai Gheorghe">
        <%- include("../fragmente/head.ejs"); %> 
        <title>R_Music</title>
    </head>
    <body>
        <%- include("../fragmente/header.ejs"); %> 
        <main>
            <div id="err-coloane">
                <div id="err-imag">
                    <%- locals.imagine %>
                </div>
                <section>
                    <h2><%- locals.titlu %></h2>
                    <p><%- locals.text %></p>
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs"); %> 
    </body>
</html>



    