<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="R_Music - register">
        <meta name="keywords" content="rmusic, r_music, inregistrare, utilizatori">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>R_Music - register</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
    </head>
    <body>
        <%- include("../fragmente/header") %>
        <main>
            <div class="afisaj">
                <h1>Inregistrare utilizator</h1>
                <% if(!locals.raspuns) { %>
                    <%-include("../fragmente/formular", {action: "/inreg"}) %>
                <% } %>
                <% if(locals.raspuns) { %>
                    <%- locals.raspuns + "<br/>"%>
                <% } %>
                <% if(locals.err) { %>
                    <%- locals.err %>
                <% } %>
            </div>
        </main>
        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
</html>