<div id="galerie_statica">
    <% let anotimp = "";
    d = new Date();
    luna = d.getMonth();
    if(luna <= 2 || luna == 12)
        anotimp = "iarna";
    else if(luna >= 3 || luna <= 5)
        anotimp = "primavara";
    else if(luna >= 6 || luna <= 8)
        anotimp = "vara";
    else if(luna >= 9 || luna <= 11)
        anotimp = "toamna";
    %>
    <% for (let imag of locals.imagini){ %>
        <% if (imag.anotimp == anotimp) { %>
            <figure>
                <picture>
                    <source srcset="<%- imag.mic%>" media="(max-width:500px)" />
                    <source srcset="<%- imag.mediu%>" media="(max-width:700px)" />
                    <img src="<%- imag.mare %>" alt= <%- imag.alt %> />
                </picture>
                <figcaption><%- imag.descriere %></figcaption>
            </figure>
        <% } %>
    <% } %>
</div>